name: build

on:
  workflow_call:
    inputs:
      version:
        type: string

jobs:
  static:
    permissions: {}
    runs-on: ubuntu-latest
    container:
      image: debian:trixie-slim
    steps:
      - run: |
          apt-get update -qq
          apt-get install -y --no-install-recommends git ca-certificates gcc libc6-dev
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - run: git config --global --add safe.directory `pwd`
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: |
          go generate ./migrations
          go vet ./...
          go test ./... -failfast -vet off -tags netgo,sqlite_omit_load_extension,fts5 -race
      - run: |
          version="${{ inputs.version }}"
          echo "TOOTIK_VERSION=${version#v}" >> "$GITHUB_ENV"
      - run: |
          CGO_CFLAGS="-O2 -fomit-frame-pointer -ffunction-sections -fdata-sections -fmerge-all-constants" go build -tags netgo,sqlite_omit_load_extension,fts5,no_pprof -ldflags "-w -s -linkmode external -extldflags '-static -Wl,--gc-sections' -X github.com/dimkr/tootik/buildinfo.Version=${TOOTIK_VERSION}" -trimpath -o tootik-amd64 ./cmd/tootik
      - run: |
          apt-get install -y gcc-aarch64-linux-gnu
          CGO_CFLAGS="-O2 -fomit-frame-pointer -ffunction-sections -fdata-sections -fmerge-all-constants" GOARCH=arm64 CC=aarch64-linux-gnu-gcc CGO_ENABLED=1 go build -tags netgo,sqlite_omit_load_extension,fts5,no_pprof -ldflags "-w -s -linkmode external -extldflags '-static -Wl,--gc-sections' -X github.com/dimkr/tootik/buildinfo.Version=${TOOTIK_VERSION}" -trimpath -o tootik-arm64 ./cmd/tootik
      - run: |
          apt-get install -y gcc-arm-linux-gnueabihf
          CGO_CFLAGS="-O2 -fomit-frame-pointer -ffunction-sections -fdata-sections -fmerge-all-constants" GOARCH=arm CC=arm-linux-gnueabihf-gcc CGO_ENABLED=1 go build -tags netgo,sqlite_omit_load_extension,fts5,no_pprof -ldflags "-w -s -linkmode external -extldflags '-static -Wl,--gc-sections' -X github.com/dimkr/tootik/buildinfo.Version=${TOOTIK_VERSION}" -trimpath -o tootik-arm ./cmd/tootik
      - run: |
          apt-get install -y gcc-multilib
          CGO_CFLAGS="-O2 -fomit-frame-pointer -ffunction-sections -fdata-sections -fmerge-all-constants" GOARCH=386 CGO_ENABLED=1 go build -tags netgo,sqlite_omit_load_extension,fts5,no_pprof -ldflags "-w -s -linkmode external -extldflags '-static -Wl,--gc-sections' -X github.com/dimkr/tootik/buildinfo.Version=${TOOTIK_VERSION}" -trimpath -o tootik-386 ./cmd/tootik
      - uses: actions/upload-artifact@v4
        with:
          name: tootik-${{ inputs.version }}
          path: tootik-*
          retention-days: 1
  demo:
    permissions: {}
    runs-on: ubuntu-latest
    container:
      image: debian:trixie-slim
    steps:
      - run: |
          apt-get update -qq
          apt-get install -y --no-install-recommends git ca-certificates gcc libc6-dev less fonts-noto-mono fonts-noto-color-emoji
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go generate ./... && TERM=xterm-256color go run -tags fts5 ./cmd/demo -auto
      - run: go tool termsvg export demo.cast -o demo.svg -f svg -m
      - run: go tool termsvg export demo.cast -o demo.gif -f gif
      - uses: actions/upload-artifact@v4
        with:
          name: demo-${{ inputs.version }}
          path: |
            demo.svg
            demo.gif
          retention-days: 1
