name: build

on:
  workflow_call:
    inputs:
      version:
        type: string

jobs:
  static:
    permissions: {}
    runs-on: ubuntu-latest
    container:
      image: debian:trixie-slim
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '>=1.25.0'
      - run: |
          go generate ./migrations
          go vet ./...
          go test ./... -failfast -vet off -race
      - run: |
          version="${{ inputs.version }}"
          echo "TOOTIK_VERSION=${version#v}" >> "$GITHUB_ENV"
      - run: |
          CGO_ENABLED=0 go build -tags no_pprof -ldflags "-w -s -X github.com/dimkr/tootik/buildinfo.Version=${TOOTIK_VERSION}" -trimpath -o tootik-amd64 ./cmd/tootik
      - run: |
          GOARCH=arm64 CGO_ENABLED=0 go build -tags no_pprof -ldflags "-w -s -X github.com/dimkr/tootik/buildinfo.Version=${TOOTIK_VERSION}" -trimpath -o tootik-arm64 ./cmd/tootik
      - run: |
          GOARCH=arm CGO_ENABLED=0 go build -tags no_pprof -ldflags "-w -s -X github.com/dimkr/tootik/buildinfo.Version=${TOOTIK_VERSION}" -trimpath -o tootik-arm ./cmd/tootik
      - run: |
          GOARCH=386 CGO_ENABLED=0 go build -tags no_pprof -ldflags "-w -s -X github.com/dimkr/tootik/buildinfo.Version=${TOOTIK_VERSION}" -trimpath -o tootik-386 ./cmd/tootik
      - uses: actions/upload-artifact@v4
        with:
          name: tootik-${{ inputs.version }}
          path: tootik-*
          retention-days: 1
