name: release

on:
  push:
    tags:
      - '*.*'

jobs:
  build:
    permissions: {}
    uses: ./.github/workflows/build.yml
    with:
      version: ${{ github.ref_name }}
  upload:
    permissions:
      contents: write
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: tootik-${{ github.ref_name }}
          path: artifacts
      - uses: actions/download-artifact@v4
        with:
          name: demo-${{ github.ref_name }}
          path: demo.gif
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/tootik-*
            demo.gif
          fail_on_unmatched_files: true
